<ion-view view-title="Account">
    <ion-content class="padding grey lighten-4">
        <div ng-hide="profile">
            Loading
        </div>
        <div ng-show="profile">
            <div class="list card">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">First Name</span>
                    <input ng-model="profile.firstname" ng-change="profile.$save()" type="text" placeholder="Firstname" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Last Name</span>
                    <input ng-model="profile.lastname" ng-change="profile.$save()" type="text" placeholder="Lastname" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Job Status</span>
                    <input ng-model="profile.job" ng-change="profile.$save()" type="text" placeholder="Job" />
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Location</span>
                    <input ng-model="profile.location" ng-change="profile.$save()" type="text" placeholder="Location" />
                </label>
            </div>
            <button ng-href="/" ng-click="auth.$unauth()" class="button z-depth-1 red white-text button-block">Log out</button>
        </div>
    </ion-content>
</ion-view>
