<ion-view view-title="Achievements">
    <ion-content class="padding grey lighten-4">
        <div ng-hide="profile">
            Loading
        </div>
        <div ng-show="profile" class="center">
            <img src="img/bad.png" alt="" style="height:100px;">
            <div class="row">
                <div class="col col-50">
                    <div class="card">
                        <div class="item"><b>Good Boy</b>
                            <br/>
                        </div>
                        <div class="padding">
                            <img src="img/bad.png" alt="" style="height:70px;"> 
                            You have to be volunteer of 10 action.
                        </div>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="card">
                        <div class="item"><b>Social Activist</b></div>
                        <div class="padding">
                            <img src="img/bad.png" alt="" style="height:70px;"> 
                            You have to be volunteer of 50 action.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div class="card">
                        <div class="item"><b>Newbie Problem Solver</b></div>
                        <div class="padding">
                            <img src="img/bad.png" alt="" style="height:70px;"> 
                          You have to solve problems of 10 discussion.</div>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="card">
                        <div class="item"><b>Problem Solver</b></div>
                        <div class="padding">
                            <img src="img/bad.png" alt="" style="height:70px;"> 
                            You have to solve problems of 50 discussion.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--         <button ng-click="expression" ng-disabled="!goodguy">10</button>
        <button ng-click="expression" ng-disabled="!heroic">25</button>
        <button ng-click="expression" ng-disabled="!superhero">50</button>
 -->
        </div>
    </ion-content>
</ion-view>
