<ion-view view-title="Create New Social Action">
    <ion-content class="padding grey lighten-4">
        <form ng-submit="postEventSubmit()">
            <div class="list card">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Action Title</span>
                    <input type="text" ng-model="inputTitle.value">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <textarea ng-model="inputContent.value"></textarea>
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label" >Date Starts</span>
                    <input type="date" ng-model="inputDateStart.value">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Date Ends</span>
                    <input type="date" ng-model="inputDateEnd.value">
                </label>
                <div class="item item-toggle">
                    <b>Volunteer</b>
                    <br/> Let volunteer join your action.
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="inputVolunteer.value">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item item-toggle">
                    <b>Donation</b>
                    <br/> Enable this feature to fund the action.
                    <label class="toggle toggle-assertive">
                        <input type="checkbox" ng-model="inputDonate.value">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
            </div>
            <button type="submit" class="button button-block red z-depth-1 white-text">Save</button>
        </form>
    </ion-content>
</ion-view>
