<ion-view view-title="Create a New Discussion">
    <ion-content class="padding grey lighten-4">
        <form ng-submit="postDiscussSubmit()">
            <div class="list card">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Title</span>
                    <input type="text" ng-model="inputTitle.value">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Description</span>
                    <textarea class="auto-resize" ng-model="inputContent.value" style="min-height:200px;"></textarea>
                </label>
            </div>
            <button type="submit" class="button button-block red z-depth-1 white-text">Save</button>
        </form>
    </ion-content>
</ion-view>
