<ion-view view-title="Trending">
    <ion-content class="padding grey lighten-4">
        <div ng-hide="posts">
            Loading...
        </div>
        <div ng-show="posts" class="list card z-depth-1" ng-repeat="post in posts | 
        orderBy : ['-vote.count' , '-timestamp']">
            <a href="#/tab/trending/{{post.$id}}">
                <div class="item item-head">
                    <h2>{{post.title}}</h2>
                    <span ng-if="post.eventStart == post.eventEnd"><p>{{post.eventStart}}</p></span>
                    <span ng-if="post.eventStart != post.eventEnd"><p>{{post.eventStart}} until {{post.eventEnd}}</p></span>
                </div>
            </a>
            <div class="item item-body">
                <p>
                    <span class="left" ng-show="post.category=='event' ">
                    <a href="#" class="subdued">{{volunteersCount}}2 Volunteers</a>
                    <a href="#" class="subdued">5 Donators</a>
                  </span>
                    <span class="right">
                    <small>
                    by <a href="#/tab/trending/account/{{post.author.uid}}">{{post.author.firstname}} {{post.author.lastname}}</a>
                    </small>
                  </span>
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" ng-click="inputVote(post.$id)">
                    {{post.vote.count}}
                    Vote Up
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
