<ion-view view-title="Create New Post">
    <ion-content class="padding grey lighten-4">
        <ion-list class="card">
            <a href="#/tab/post/event">
                <div class="item  bg-1  white-text card padding">
                    <br/>
                    <br/>
                    <br/> <b>Social Action</b><br/>
                    Getting started to make a real action.
                    <br>
                </div>
            </a>
            <a href="#/tab/post/discuss">
                <div class="item  bg-2  white-text card padding">
                    <br/>
                    <br/>
                    <br/> <b>Discuss</b><br>
                    Start creating a discussion to solve the problems
                    <br>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
