<ion-view view-title="Account">
 <ion-content class="grey lighten-4">
        <div class="profile-bg red center padding white-text bg-2">
            <br>
            <img src="img/adam.jpg" alt="">
            <h3 class="white-text">{{account.firstname}} {{account.lastname}}</h3> {{account.job}}
            <br>
        </div>
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                    9999 Volunteer
                </a>
            <a class="tab-item" href="#/tab/account/{{userID}}/level">
                    Achievements
                </a>
            <a class="tab-item" href="#/tab/account/{{userID}}/edit">
                    Edit Profile
                </a>
        </div>
        <h3 class="padding-left">Activity Stream</h3>
        <div class="list card" ng-repeat="x in activityLogs | orderBy : '-timestamp' ">
            <div class="item">
                <p>{{account.lastname}} has
                    <span ng-if="x.type == 'joinVolunteer' "> become a Volunteer </span>
                    <span ng-if="x.type == 'createEvent' "> created Social Event </span>
                    <span ng-if="x.type == 'createDiscuss' "> created Discussion </span>
                    <a href="#/tab/account/logsdetail/{{x.postID}}">{{x.postTitle}}</a>
                </p>
            </div>
        </div>
        <br/>
        </ion-content>
</ion-view>
