<ion-tabs class="tabs-striped tabs-color-light tabs-background-assertive">

  <!-- Dashboard Tab -->
  <ion-tab title="Trending" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/trending">
    <ion-nav-view name="tab-trending"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Create New Post" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/post">
    <ion-nav-view name="tab-post"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Account" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/account/{{authData.uid}}">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>