<ion-view>
    <ion-nav-title>{{post.title}}</ion-nav-title>
    <ion-content class="padding grey lighten-4">
        <div class="card list">
            <div class="item item-head">
                <h2>{{post.title}}</h2>
                <small>by <a href="#/tab/trending/account/{{post.author.uid}}">{{post.author.firstname}} {{post.author.lastname}}</a></small>
            </div>
            <div class="padding">
                {{post.content}}
            </div>
            <div class="padding">
                <small>
              <span ng-show="post.category=='event' ">
                    <a href="#" class="subdued">{{volunteersCount}}2 Volunteers</a>
                    <a href="#" class="subdued">5 Donators</a>
                  </span>
                  </small>
            </div>
            <span ng-show="volunteerEnable">
            <span ng-hide="volunteerJoined">
                <button ng-click="inputVolunteer()" class="button">Volunteer!</button>
            </span>
            <span ng-show="volunteerJoined">
                <button ng-hide="owner" class="button">Joined</button>
            </span>
            </span>
            <span ng-show="donateEnable">
            <button ng-click="inputDonate()" class="button">Donate!</button>
        </span>
        </div>
    </ion-content>
</ion-view>
