<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/color.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>
    <script src="js/autoresize-textarea.js" type="text/javascript"></script>
</head>

<body ng-app="rangrang" onload="init();">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <div ng-controller="AuthCtrl" ng-hide="authData">
        <ion-slide-box on-slide-changed="slideHasChanged($index)">
<!--             <ion-slide>
                <div class="box bg-1">
                    <h1>BLUE</h1></div>
            </ion-slide>
            <ion-slide>
                <div class="box bg-2">
                    <h1>YELLOW</h1></div>
            </ion-slide> -->
            <ion-slide>
                <div class="box materialize-red ">
                    <div style="text-align : center; padding-top: 5vh">
                        <img src="img/logo.png" width="140" height="140">
                    </div>
                    <br/>
                    <form ng-submit="loginSubmit()">
                        <div class="card">
                            <div class="list">
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Email</span>
                                    <input ng-model="loginEmail.value" type="text" placeholder="Email">
                                </label>
                                <label class="item item-input item-floating-label">
                                    <span class="input-label">Password</span>
                                    <input ng-model="loginPassword.value" type="password" placeholder="Password">
                                </label>
                            </div>
                        </div>
                        <div ng-show="error">
                          {{errorMessage}}
                        </div>
                        <div class="center">
                            <input type="submit" value="Sign in" class="button green white-text z-depth-1">
                        </div>
                    </form>
                    <br/>
                </div>
            </ion-slide>
        </ion-slide-box>
    </div>
    <div ng-controller="AuthCtrl" ng-show="authData">
        <ion-nav-bar class="bar-assertive materialize-red z-depth-1">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <!--
        The views will be rendered in the <ion-nav-view> directive below
        Templates are in the /templates folder (but you could also
        have templates inline in this html file if you'd like).
      -->
        <ion-nav-view></ion-nav-view>
    </div>
</body>

</html>
