<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>

    <!-- Firebase -->
    <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/1.1.3/angularfire.min.js"></script>

  </head>
  
  <body ng-app="starter">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <div ng-controller="AuthCtrl" ng-hide="authData">
      
      <form ng-submit="loginSubmit()">
        <input type="email" ng-model="loginEmail" placeholder="Email">
        <input type="password" ng-model="loginPassword" placeholder="Password">
        <input type="submit" value="Sign in">
      </form>
      <button ng-click="auth.$authWithOAuthPopup('facebook')">
        Log In with Facebook
      </button>

    </div>
    
    <div  ng-controller="AuthCtrl" ng-show="authData">
    
      <ion-nav-bar class="bar-stable" >
        <ion-nav-back-button>
        </ion-nav-back-button>
      </ion-nav-bar>
      <!--
        The views will be rendered in the <ion-nav-view> directive below
        Templates are in the /templates folder (but you could also
        have templates inline in this html file if you'd like).
      -->
      <ion-nav-view></ion-nav-view>
    </div>
  </body>
</html>
