<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card"  ng-repeat="post in posts | orderBy : '-timestamp'">
      <div class="item item-divider">{{post.title}}</div>
      <div class="item item-body">
        <div>
          {{post.content}}
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
