<ion-view view-title="Account">
  <ion-content>
  	<button ng-href="/" ng-click="auth.$unauth()">Log out</button>

    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
