<ion-view view-title="Chats">
  <ion-content>
    <!--<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
        <img ng-src="{{chat.face}}">
        <h2>{{chat.name}}</h2>
        <p>{{chat.lastText}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>-->

    <ion-list>
      
        <a href="#/tab/event">Event</a>
      
      
        <a href="#/tab/discuss">Discuss</a>
      
    </ion-list>
    <form ng-submit="postSubmit()">
      <input type="text" ng-model="inputTitle.value">
      <textarea ng-model="inputContent.value"></textarea>
      <button type="submit">Post!</button>
    </form>

  </ion-content>
</ion-view>
