/* Empty. Add your own CSS if you like */
a{
	text-decoration: none;
}
.box{
	height: 100vh;
}
.slider-pager .slider-pager-page{
	color: #fff;
}
.button{
	border: none;
}

.bg-1{
	background: url("../img/bg.jpg") top center ;
	background-size: cover;
}
.bg-2{
	background: url("../img/bg2.jpg") top center ;
	background-size: cover;
}
.item a{
	text-decoration: none;
}
.item-head h2 {

	font-size: 1.3em
}
.tabs-striped.tabs-color-light .tab-item.tab-item-active, .tabs-striped.tabs-color-light .tab-item.active, .tabs-striped.tabs-color-light .tab-item.activated{
	border-top: 3px solid #00c752;
	background: #e51c23;
	height: 10vh;
}
.profile-bg img{
	height:80px;
	width: 80px;
	border-radius: 50%;
	border: solid #fff;
}