.login {
    background: url('../img/login.jpg');
    background-size: cover;
}

.montserrat {
    font-family: "Montserrat", Roboto;
}

.semitrans {
    background: rgba(255, 255, 255, 1);
}

.pad5 {
    padding: 5px;
}


.headercard {
    margin-top: -15px;
}

.headercard .card-bg {
    height: 130px;
    overflow: hidden;
}

.headercard .card-bg img {
    width: 100%;
}

.headercard .card-pp {
    overflow: visible;
}

.headercard .card-pp img {
    margin-top: -50px;
    z-index: 2;
    border: 5px solid #fff;
}


/*
TAB UMUM
*/

.tabumum .tabs {
    height: 64px;
}

.tabumum .indicator {
    background: #009688;
    height: 4px;
}

.tabumum .ictambah i {
    padding: 12px 0;
}

.tabumum .tabs .tab {
    height: inherit;
    line-height: 1.2;
    font-size: 0.9em;
    padding: 12px;
    letter-spacing: inherit;
}

.tabumum .tabs .tab a {
    height: 64px;
}

.tabumum .tabs .tab b {
    font-size: 1.5em
}

.tabumum.pinned {
    width: 100%;
    top: 55px;
    z-index: 100;
}

.fixed {
    position: fixed;
}

#navbar-top .bad {
    text-align: center;
    height: 24px;
    width: 24px;
    position: absolute;
    right: 5px;
    top: 7px;
    border-radius: 50%;
    line-height: 1.75;
}

#tab-utama,
.chataksi {
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 100;
}

#tab-utama img {
    margin-bottom: -10px;
}

#tab-utama .bad {
    height: 24px;
    width: 24px;
    position: absolute;
    right: 15px;
    top: 7px;
    border-radius: 50%;
    line-height: 1.75;
}

#tab-utama .active {
    border-top: 4px solid #ff0;
    background: #00796b;
    margin-bottom: -4px;
}

#tab-utama.amb .active {
    border-top: 4px solid #ffc107;
    background: #00796b;
    margin-bottom: -4px;
}

#tab-utama.org .active {
    border-top: 4px solid #ff9800;
    background: #00796b;
    margin-bottom: -4px;
}

.title-left {
    padding-left: 10px;
    text-transform: uppercase;
}

.kalender .teal .modal-content {
    padding-bottom: 2px;
}

#addagenda .btn-flat,
#addagenda .btn-large {
    padding: 0 1rem;
}

#addagenda #selectcolor .circle {
    height: 32px;
    width: 32px;
}

.collection .avatar.collection-item {
    min-height: 48px;
}

.tabs {
    width: auto;
}

.chat .navbar-fixed li .twoline {
    line-height: 1.3;
    padding: 0.6em 0.5em;
}

li.av {
    padding: 0;
}

.chat .ava {
    height: 45px;
    width: 45px;
    margin-top: 5px;
}

.chat .tab-section {}

.chat .row.tabumum {
    margin: 0;
}

.chat .tabumum .tabs {
    font-weight: 800;
    height: 48px;
}

.chat .tabumum .tabs .tab {
    line-height: 24px;
}

.collapsible {
    border: none;
}

.collapsible .bad {
    line-height: 32px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin-top: 6px;
    text-align: center;
    color: #fff;
}

.agenda .collapsible-header {
    border: 0;
    line-height: 48px;
    min-height: 48px;
}

.agenda .collapsible-body {
    border: 0;
}

.agenda .row {
    margin-bottom: 0;
}

.card .col.s3 {
    border-left: 10px solid;
}

.agenda .card-content {
    padding-left: 0;
}

.agenda .circle {
    margin-top: 1.2em;
    padding-left: 0;
    width: 75px;
    height: 75px;
}

.agenda .collapsible-body .h {
    width: 110px;
    height: 108px;
    line-height: 108px;
}

.with-select {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.collection-item {
    display: block
}

.secondary-content b.fr,
.fr.secondary-content {
    padding: 0 10px;
}

.card.event {
    margin-bottom: 2px;
}
.card.free{
	margin:30px 20px 10px;
}
.event .top-right {
    float: right;
    position: absolute;
    padding: 5px;
    right: 0;
}

.event .bottom-right {
    float: right;
    position: absolute;
    right: 0;
    padding: 5px;
    margin-top: 25px;
}

.collection {
    border: 0;
}

.chatlist .collection .secondary-content {
    margin-top: -16px;
}

.chatlist .collection .secondary-content .bad {
    position: absolute;
    right: 0;
    border-radius: 50%;
    margin-top: 28px;
    text-align: center;
    padding: 2px;
    min-width: 24px;
    color: #fff;
    margin-right: -8px;
}

.chatlist .collection .bad.tandagrup {
    margin-left: -25px;
    margin-right: 5px;
    padding: 2px 3px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    color: #fff;
}

.chataksi,
.chataksi nav {
    min-height: 55px;
    height: auto;
    overflow: hidden;
}

.chataksi .emot a {
    padding: 0 5px;
}
.chataksi .txt {
	width: 60%;
}
.chataksi input {
    margin-left: 0;
    border: 0;
    width: 100%;
}
.chataksi input:focus{

	border:0;
}
.chataksi .right a{
	padding: 0 5px;
}
.chataksi .right .circle{
	height: 48px;
	width: 48px;

	line-height: 1;
}
.chataksi .right .circle i{
	padding: 0;
	line-height: 48px;
	font-size: 1.5rem
}
.tambahpost{
	width: 100%;
	bottom:0;
	right: 0;
	min-height: 150px;
}
.card-nama {
	width: 100%;
}
.card-nama .left{
	line-height: 55px;
	margin-right: 10px
}
.card-nama .ava img{
	margin:3px;
	height: 42px;
	width: 42px;
}

.agenda .collapsible li{
	margin-bottom: 10px;
}
.card-file{
	line-height: 48px;
}
.card-file .circle {
	line-height: 48px;
	width: 48px;
	height: 48px;
	margin-right: 10px
}